<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--<add key="ApiRoot" value="http://api.autotest.local/api" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>-->
    <add key="ApiRoot" value="http://apiplayer.net/api/api" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
</configuration>