<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Username" value="test" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="Password" value="test123" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="Domain" value="DESKTOP-OK12O7C" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="TestManagementServer" value="autotest.local" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  
    <!--
    <add key="Domain" value="localhost" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="TestManagementServer" value="127.0.0.1" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    -->
  </appSettings>
</configuration>
