@model bool

@using AutoTest.Common

@{
    <div class="display-field">
        @if (Model)
        {
            <p style="color:darkgreen;background-color:lightgreen"><b>True</b></p>
        }
        else
        {
            <p style="color:red;background-color:lightcoral"><b>False</b></p>
        }
    </div>

}