################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/obj/Debug
/Common/bin/Debug
/Common/obj/Debug
/Server/bin
/Server/obj/Debug
/Server/tests/suites_bak
*.user
/WebDav/bin/Debug
/WebDav/obj/Debug
/packages
*.suo
/Client/bin
/Client/obj/Release
/Common/obj/Release
/Server/obj/Release
/WebDav/obj/Release
/.vs/config/applicationhost.config
/Publish
/Common/bin/Release
/AutoTest.API/bin
/AutoTest.API/obj/Debug
/Server/tests/cases/5/TestCase.xml
/AutoTest.WebDAV/tests/suites_bak
/WebDav/bin/Release
/AutoTest.API/obj/Release
